*{
    border: solid 1px red;
    background-color: yellow;
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 1));
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#clear{
    height: 64px;
    width: 64px;
}
#rgb{
    height: 64px;
    width: 64px;
}
#erase{
    height: 64px;
    width: 64px;
}
#mode{
    height: 64px;
    width: 64px;
}

.colorPrompt{
    display: flex;
    height: 64px;
    flex-direction:column;
    align-items: center;
}
#sText{
    margin-top: 10px;
    margin-bottom: 0px;
}
#color{
    width: 64px;
    height: 30px;
}
.sliderBox{
    display: flex;
    height: 64px;
    flex-direction:column;
    align-items: center;
}
#slider{
    margin-bottom: 0;
}
.value{
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
.drawArea{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: white;
    width: 600px;
    height: 600px;
    display: grid;

    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    background-color: white;
    border: 1px solid lightblue;
    text-align: center;
    user-select: none;
}

.grid-item:hover {
    cursor: pointer;
}