*{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.title{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin-bottom: 10px;
    color: yellow;
    text-shadow: 8px 6px rgba(0, 0, 0, 0.4);
}

button{ 
    background-color: black;
    color: yellow;
    height: 64px;
    width: 64px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.4));
}

button:active{
    transform: scale(1);
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.colorPrompt{
    margin-top: -20px;
    display: flex;
    height: 64px;
    flex-direction:column;
    align-items: center;
    color: yellow;
}

#sText{
    margin-top: 10px;
    margin-bottom: 0px;
}

#color{
    width: 64px;
    height: 40px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
}

.sliderBox{
    padding-top: 20px;
    display: flex;
    height: 64px;
    flex-direction:column;
    color: yellow;
}

#slider{
    margin-bottom: 0;
}

#slider:hover{
    cursor: pointer;
}

#color:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.4));
}

#color:active{
    transform: scale(1);
}

#sValue{
    padding: 5px;
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.drawArea{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: solid 5px black;
    background-color: white;
    width: 600px;
    height: 600px;
    display: grid;
    filter: drop-shadow(0 20px 18px rgba(0, 0, 0, 0.9));
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    background-color: white;
    border: 1px solid lightblue;
    text-align: center;
    user-select: none;
}

#container:hover {
    cursor: pointer;
}